#ChatPanel {
    width: 45%;
    padding: 20px 0px;
    /* border-right: 1px solid red; */
    height: 94.5vh;
}

#Header {
    display: flex;
    padding: 0 20px 10px;
    justify-content: space-between;
}

#headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

#headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

#MessageContainer {
    overflow-y: scroll;
    height: 90%;
    background-color: rgb(241, 241, 241);
}

#Bottom {
    padding: 10px 20px;
    background-color: rgb(241, 241, 241);
}